.editing {
  padding: 2rem;
}

.editing section,
.editing article {
  margin-top: 4rem;
}

.editing section + button {
  margin-bottom: 4rem;
}

.viewing h2 {
  background-color: var(--surface);
  padding: 1rem 0;
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}
.viewing .hidden-title {
  display: none;
}

.viewing fieldset {
  margin: auto;
  max-width: fit-content;
}

.viewing .general-information {
  background-color: var(--primary);
  color: var(--on-primary);
  margin-bottom: 4rem;
}

.viewing .general-information fieldset {
  display: grid !important;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;

  column-gap: 2rem;
  row-gap: 1rem;
}

.viewing [id^="name"] {
  grid-column: 1 / -1;
}

.viewing .general-information h2 {
  display: none;
}

.viewing .text {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.viewing input[type="checkbox"] {
  display: none;
}

.viewing [id^="name"] p {
  font-size: 3rem;
}

.viewing .educational-experience fieldset,
.viewing .practical-experience fieldset {
  display: grid !important;
  grid-template-columns: repeat(2, auto);
  column-gap: 12rem;
}
.viewing .educational-experience fieldset {
  grid-template-rows: repeat(2, auto);
}
.viewing .practical-experience fieldset {
  grid-template-rows: repeat(3, auto);
}
.viewing [id^="study-end"] {
  grid-row: 1 / -1;
}
.viewing [id^="end-date"] {
  grid-column: 1 / 2;
  grid-row: 2 / -1;
}

.viewing [id^="company-name"] p,
.viewing [id^="school-name"] p {
  font-size: 3rem;
}

.viewing [id^="position-title"] p,
.viewing [id^="study-title"] p {
  font-size: 2rem;
}

.viewing header button,
.viewing > button {
  display: none;
}
