.resume-form-category {
  background-color: var(--surface);
  padding: 1.5rem;

  border-radius: calc(var(--rounded-card) + 1rem);
}

.resume-form-category summary {
  font-weight: 500;
  font-size: 1.5rem;
}

.resume-form-category .details-content {
  margin-top: 1rem;
}
